.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  background-color: rgba(223, 241, 231, 1);
  min-height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  font-family: "Karla", sans-serif;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  min-width: 42vw;
}

.form-container h2 {
  color: rgba(43, 66, 70, 1);
}

.hidden {
  display: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form-radio-group {
  border: 1px solid rgba(43, 66, 70, 1);
  border-radius: 7px;
  padding: 0.5rem;
}

.form-radio-group:hover,
.form-radio-group label:hover,
.form-name-group .form-group .input-name:hover,
.form-group .textarea-message:hover,
.form-group .input-email:hover,
.form-group .consent-group:hover,
.form-group .consent-group .input-checkbox:hover,
.form-group .consent-group .form-label:hover {
  cursor: pointer;
}

.form-label {
  margin-bottom: 0.6rem;
}

label {
  color: rgba(43, 66, 70, 1);
}

.input-name:focus,
.input-email:focus,
.textarea-message:focus {
  border: 2px solid rgba(12, 125, 105, 1);
  outline: none;
}

.checked-query-type {
  border: 1px solid rgba(12, 125, 105, 1);
  background-color: rgba(223, 241, 231, 1);
}

.form-label::after {
  content: "*";
  padding: 0 0 0 0.5rem;
  color: rgba(12, 125, 105, 1);
}

.error-message {
  color: rgba(215, 60, 60, 1);
}

.success-message-container {
  margin: 1.5rem auto 0;
  background-color: rgba(43, 66, 70, 1);
  border-radius: 10px;
  color: white;
  padding: 10px;
  font-family: "Karla", sans-serif;
}

.success-message-container p {
  margin-bottom: 0;
}

.success-message-div {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.success-message-div .success-message {
  margin: auto 0 auto 1rem;
}

.form-name-group,
.radio-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.input-name,
.input-email,
.textarea-message {
  border: 1px solid rgba(43, 66, 70, 1);
  border-radius: 5px;
  padding: 0.5rem;
  font-family: "Karla", sans-serif;
  background-color: transparent;
}

.textarea-message {
  resize: none;
}

.input-radio {
  accent-color: rgba(12, 125, 105, 1);
  cursor: pointer;
}

.input-checkbox {
  accent-color: rgba(12, 125, 105, 1);
  border: 1px solid rgba(12, 125, 105, 1);
}

.submit-btn {
  background-color: rgba(12, 125, 105, 1);
  color: white;
  border: 1px solid rgba(12, 125, 105, 1);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@media (max-width: 426px) {
  .form-container {
    max-width: 75vw;
  }

  .success-message-container {
    max-width: 60vw;
  }

  .form-container h2 {
    margin-top: 0;
  }

  .form-group.submit {
    margin-bottom: 0;
  }

  .form-name-group,
  .radio-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.2rem;
  }
}
